@model IEnumerable<EBANK.Models.Novost>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-8" style="background: #ccc; padding: 20px;">
            <h1 class="display-6" style="margin-bottom: 20px;text-align: left;">Naše novosti:</h1>
            @foreach (var item in Model)
            {
                <h5 class="row" style="text-align: left;">
                    @Html.DisplayFor(modelItem => item.Naslov)
                </h5>
                <dl class="row" style="text-align: left;">
                    @Html.DisplayFor(modelItem => item.Sadrzaj)
                </dl>
            }
        </div>
        <div class="col-sm-4">
            <h1 class="display-6" style="margin-bottom: 60px; margin-top: 30px">Dobro došli, @ViewData["Ime"]!</h1>
            <div class="card bg-warning text-white mb-4">
                <a class="card-body" asp-controller="KlijentTransakcija" asp-action="Index" style="color: white;">Izvrši uplatu</a>
            </div>
            <div class="card bg-warning text-white mb-4">
                <a class="card-body" asp-controller="KlijentZahtjevZaKredit" asp-action="Index" style="color: white;">Zahtjev za kredit</a>
            </div>
            <div class="card bg-warning text-white mb-4">
                <a class="card-body" asp-controller="Konverzija" asp-action="Index" style="color: white;">Konverzija deviza</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div id="map"></div>
        </div>
    </div>
    <script>
        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            var uluru = { lat: -25.344, lng: 131.036 };
            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.getElementById('map'), { zoom: 4, center: uluru });
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({ position: uluru, map: map });
        }
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">
    </script>
</div>
